/* --- Global Styles --- */
* {
  font-family:'Cascadia Code PL',sans-serif;
  font-size: 14px;
  font-weight: bold;

  /*padding: 0.3em 0.7rem;*/
  padding: 2px 10px;
  margin: -3px -8px;
  border-radius: 6px;
  color: #999999;
  padding-top: 3px;
  padding-bottom: 5px;
}

/* --- Waybar Container --- */
#waybar {
  background: transparent;
  min-height: 0;
}

label{
  margin: 1px 1px; 
  background-color: #121212;
}

label:hover {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  background-color: rgb(41, 42, 53);
  color: #ffffff;
}

